.banner {
  background-color: #84D1E3;
  background: url('./assets/img/bg-fruit.png') 0 -50px repeat-x, url('./assets/img/bg-fruit.png') 200px 100px repeat-x, url('./assets/img/bg-fruit.png') 350px 250px repeat-x, url('./assets/img/bg-fruit.png') 500px 400px repeat-x, url('./assets/img/bg-fruit.png') 650px 570px repeat-x, url('./assets/img/bg-fruit.png') 800px 740px repeat-x, url('./assets/img/bg-fruit.png') 930px 910px repeat-x;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}
@keyframes latas {
  from { transform: translate3d(900,0,0); }
  to { transform: translate3d(0,0,0);  }
}
.logobanner{
  animation: latidos 2s infinite;
  transform-origin: center;
}
.latas{
  transform: translate3d(900px, 0px, 0px);
  animation: latas 2s infinite;
  transform-origin: center;
}
.bg-blue{
  background-color: #84D1E3;
}
.cinta{
  position: absolute;
  width: 200px;
}
.cinta1{
  top: -26px;
  left: -90px;
  transform: rotate3d(1, 1, 1, 
-41deg
);
}
.cinta2{
  top: 97px;
  left: -92px;
  transform: rotate3d(1, 1, 1, 
41deg
 );
}
.cinta3{
  top: 97px;
  left: 305px;
  transform: rotate3d(1, 1, 1, 
-41deg
);
}
.cinta4{
  top: -26px;
  left: 282px;
  transform: rotate3d(1, 1, 1, 
41deg
);
}
.direct{
  border: 5px solid #000;
  border-radius: 25px;
}
.direct-img{
  border-radius: 19px;
}
.text-direct .text-white{
  background-color: #1E2125;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  font-size: 1.1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 28px;
  width: 75%;
  padding: 10px;
  border-bottom-left-radius: 19px;
}
.bt-4{
  bottom: -4px!important;
}
.nav-link{
  color: #F3D228;
}